body {
  font-size: 20px;
}

.logo {
  height: 200px;
  width: 400px;
  text-align: center;
  margin: 0;
  top: 1%;
}

ul {
  list-style: none;
}

/* all page */

.center {
  display: flex;
  justify-content: center;
}

/* landing page  */

.buttonLogIn {
  height: 80px;
  width: 300px;
  margin: 0;
  top: 55%;
  background-color: black;
  font-size: 40px;
  cursor: pointer;
}

/* landing page  */

.buttonLogIn a {
  color: aliceblue;
  text-decoration: none;
}

/* landing page  */

.ReadMore a {
  text-decoration: none;
  color: #bf212f;
  font-size: 23px;
}

.ReadMore a:hover {
  text-decoration: none;
  color: #bf212f;
  font-size: 23px;
  border-bottom: 2px solid #bf212f;
}

/* login page */

.avatar img {
  width: 100px;
  height: 100px;
}

.login-form form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 500px;
  width: 35%;
  border: 2px solid black;
}

.box_logIn {
  display: flex;
  width: 100%;
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  padding-left: 10px;
  margin-left: 10px;
}

.logIn {
  font-size: 35px;
}

span {
  color: red;
}

/* home page  */
.text{
  text-align: center;
}
.Category {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  position: static;
  left: 0;
  right: 0;
}

.Category a {
  display: block;
  color: #f2f2f2;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 30px;
}

.Category a:hover {
  background-color: black;
  color: red;
}

.Category a.active {
  background-color: red;
  color: white;
}

.categories a {
  font-size: 50px;
  color: aliceblue;
  text-decoration: none;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
}

.img-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.img-container ul li {
  margin: 0 35px;
  border: 3px solid black;
  padding: 10px;
}

.image {
  height: 16rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.like-pic {
  height: 70px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: white;
  background-color: black;
}

/* footer*/

.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0%;
  left: 0%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 30px;
}

.navbar a:hover {
  background-color: white;
  color: red;
}

.navbar a.active {
  background-color: red;
  color: white;
}

/* user profile */

.user-img {
  width: 200px;
  height: 200px;
}

.img-Name {
  display: flex;
  flex-direction: row;
}

.user-info-container {
  margin-left: 20px;
  margin-top: 20px;
}

.favorit {
  height: 70px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: black;
}
