<div class="container center">
    <h1>Select a Category</h1>
    <br>

    <div>
        <button class="categories" type="buttoncars">
            <a href="/cars">cars</a> </button>
    </div>
    <div>
        <button class="categories" type="buttonflowers">
            <a href="/flowers">flowers</a> </button>
    </div>
    <div>
        <button class="categories" type="buttonanimals">
            <a href="/animals">animals</a> </button>
    </div>
</div>

{{#if data}}
<h1>{{this.data}}</h1>
{{/if}}

</div>