<div class="container">
<h1>Select a Category</h1>
<div class="categories">
    <ul>
        <li><a href="">Cars</a></li>
        <li><a href="">Flowers</a></li>
        <li><a href="">Animals</a></li>
    </ul>
</div>
</div>