<nav class="navbar__nav" role="navigation"></nav>
<div class="buttonLogIn">
    <button type="button1">
        <a class="navbar__link navbar__link--active" href="/logIn">log in</a> </button>
</div>
<div>
    <p><a href="">ReadMore</a></p>
</div>