<nav class="navbar__nav" role="navigation"></nav>
<div class="center">
    <button class="buttonLogIn" type="button1" onclick="window.location.href = '/logIn'">
        <a>log in</a> </button>
</div>
<div class="ReadMore center">
    <p><a href="https://github.com/FACN8/Like/blob/master/README.md">ReadMore</a></p>
</div>
