<div class='center login-form'>
    <form class="form" autocomplete="off" action="/login" method="POST">
    <div class="avatar">
        <img src="images/login-avatar.png" alt="">
    </div>
    <div class="logIn">
        <label>User Name: </label>
        <input class="box_logIn" id="user_name" type="text" name="user_name" value="" placeholder="enter user name">
    </div>
    <div class="logIn">
        <label>Password: </label>
        <input class="box_logIn" type="password" name="user_pass" value="" placeholder="enter Password">
  </div>

    <div>
        {{#if error}}
        <span class="center">
            {{this.error}}
        </span>
        {{/if}}
    <button class="buttonLogIn buttonLogIn2" type="button1">
        <a>log in</a> </button>
    </div>
    </form>
</div>
